<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="BA591B9691B7B72935C4A7BC718B5B8D19F756FE06F01C5BB5B6DE3A38F4E91A38DE65F1686DC7AB11A138A12565D6847638EABFA502047E44F1EAEC2E647C75" decryptionKey="5678A651091E5487C7763B072B48ECC7523E17FCB6871FD65CB2AA2C9BAA00C0" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="B3A9C91F13BFC9A88906F33CF0F5B67CF4DFB32AF6BC905587030C8903EBCDAA" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="B3A9C91F13BFC9A88906F33CF0F5B67CF4DFB32AF6BC905587030C8903EBCDAA" realm="http://localhost" />
	</relyingParties>
</securityConfig>