<?xml version="1.0" encoding="utf-8"?>
<startupConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" initialized="True" dbType="SqlServer" sqlInstance="." dbName="sf_13" sqlAuthUserName="sa" sqlAuthUserPassword="admin@2admin@2" password="admin@2" siteUrl="http://localhost:8081/Sitefinity/" username="admin@test.test" />